<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display</h1>
        <table border="3px">
            <tr>
                <th>cname</th>
                <th>sname</th>
                <th>semail</th>
                <th>sid</th>
            </tr>
        {% for so in students %}
            <tr>
                <td>{{so.cname}}</td>
                <td>{{so.sname}}</td>
                <td>{{so.semail}}</td>
                <td>{{so.sid}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>