<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>multiple</h1>
        <form  method="post">
            {% csrf_token %}
            <label for="cn">cname</label>
            <select name="cn" id="cn" multiple>
                {% for co in courses %}
                    <option value="{{co.cname}}">{{co.cname}}</option>
                {% endfor %}


            </select><br><br>
            <input type="submit" value="multipleoption">
        </form>
    </center>
    
</body>
</html>